.top{
background-image: url("/image/backgrounds/h_img.jpg");
height: 80vh;
width: 100%;
padding: 14%;
}
.top h1{
    text-align: center;
    color:white;
}
h2{
    text-align: center;
    color: white;
    font-size: 20px;
}
h1{
    text-align: center;
}
.about{
    text-align: center;
    font-size: small;
}
.service{
    background-image: url("/image/backgrounds/s_image.jpg");
    text-align: center;
    font-size: large;
    color: white;
    height: 30vh;
}
.service h1{
color: white;
}
.brand h1{
font-size: medium;
}
.brand p{
   display: none; 
}
.dev p{
  display: none;  
}
.product p{
    display: none;
}
.row{
    margin-left: 1%;
    padding: 20px;
    margin-right: 2%;
}
.row img{
   padding: 2%; 
}
.con{
    background-image: url("/image/backgrounds/c_image.jpg");
    height: 40vh;
}
.con h1{
    padding-top: 40px;
    color:white;
}